/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font-family */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* container width and margin */
.container {
    max-width: 900px;
    margin: auto;
}

/* clearfix for floating content */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    float: left;
}

/* width and padding for every product */
.product {
    padding: 10px 10px;
    width: 33.33%;
}

/* product images properties */
.product-image {
    height: 420px;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* wishlis heart with and without hovering */
.product-wishlist {
    font-size: 30px;
    background-color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 5px;
}

.product-wishlist:hover {
    color: red;
}

/* product labels properties */
.product-labels {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    color: white;
}

.product-discount {
    background-color: #d73c4a;
    padding: 5px;
    vertical-align: middle;
}

.product-label {
    background-color: #3f835a;
    padding: 5px;
    vertical-align: middle;
}

/* product info layout */
.product-info {
    height: 70px;
    padding-top: 10px;
    margin-bottom: 15px;
}

/* special layout for product info */
.special {
    background-color: #75ac51;
    font-size: 15px;
    padding: 15px 10px 15px 10px;
}

.product-brand {
    font-size: 12px;
}

.product-specifications {
    font-size: 13px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.product-price {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

/* low price text color */
.low-price {
    color: #d73c4a;
}

.product-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.product-mood {
    vertical-align: top;
}

/* product images with and without hovering */
.image-1 {
    background-image: url('../img/1.webp');
}

.image-1:hover {
    background-image: url('../img/1-hover.webp');
}

.image-2 {
    background-image: url('../img/2.webp');
}

.image-2:hover {
    background-image: url('../img/2-hover.webp');
}

.image-3 {
    background-image: url('../img/3.webp');
}

.image-3:hover {
    background-image: url('../img/3-hover.webp');
}

.image-4 {
    background-image: url('../img/4.webp');
}

.image-4:hover {
    background-image: url('../img/4-hover.webp');
}

.image-5 {
    background-image: url('../img/5.webp');
}

.image-5:hover {
    background-image: url('../img/5-hover.webp');
}

.image-6 {
    background-image: url('../img/6.webp');
}

.image-6:hover {
    background-image: url('../img/6-hover.webp');
}

/* hiding of labels not displayed */
.image-2 .product-label {
    display: none;
}

.image-5>.product-labels {
    display: none;
}

.image-6 .product-discount {
    display: none;
}